{{ define "main" }} {{ partial "partials/home/background2.html" . }}

<header class="my-20 relative pl-5">

  {{ if not .Params.disableList }}

  <h1
    class="rounded-3xl py-2 px-5 !font-normal text-base bg-[#ffffff05] w-max border border-[rgba(255,255,255,.1)]"
  >
    {{ .Title }}

    <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
      <span
        class="absolute top-0 left-0 w-[1000%] h-px bg-neutral translate-x-[-25%] bg-line-x"
      ></span>
      <span
        class="absolute bottom-0 left-0 w-[1000%] h-px bg-neutral translate-x-[-25%] bg-line-x"
      ></span>

      <span
        class="absolute top-0 left-5 h-[1500%] w-px bg-neutral translate-y-[-50%] bg-line-y"
      ></span>
    </div>
  </h1>
  
  {{ end }}

</header>


<section class="px-6">
  {{ partial "recent-articles/main2.html" . }}
</section>

{{ end }}
