@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-neutral-800: 0, 16, 29;
  --color-neutral: 242, 242, 242;
}

html {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

.bg-color-main {
  background-color: #00101d;
}

.bg-color-accent {
  background-color: rgba(255, 255, 255, 0.02);
}

.bg-color-dim {
  color: #bdbdbd;
}

.bg-color-dim1 {
  color: #f2f2f2;
}

.bg-color-dim2 {
  color: #f2f2f299;
}

.bg-line-y {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.bg-line-x {
  background: rgba(255, 255, 255, 0.1);
}

.w-\[1000\%\] {
  width: 1000%;
}

.thumbnail {
  aspect-ratio: 4/3;
  width: -webkit-fill-available;
  width: -moz-available;;
  height: auto;
}

.single_hero_round {
  max-height: 100%;
}

.img-wrapper {
  position: relative;
  top: 0px;
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper * {
  border-radius: 8px;
}

.img-wrapper img {
  border-radius: 6px;
}