@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --color-neutral-800: 0, 16, 29;
  --color-neutral: 242, 242, 242;
}

html {
  font-family: 'Inter', sans-serif;
}

.bg-color-main {
  background-color: #00101D;
}

.bg-color-accent {
  background-color: rgba(255, 255, 255, 0.02);
}

.bg-color-dim {
  color: #BDBDBD;
}

.bg-color-dim2 {
  color: #F2F2F299;
}
