:root {
  --color-neutral-800: 0, 16, 29;
  --color-neutral: 242, 242, 242;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html {
  overflow-x: unset !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
  letter-spacing: -.4px;
}

.bg-color-main {
  background-color: #00101d;
}

.bg-color-accent {
  background-color: rgba(255, 255, 255, 0.02);
}

.bg-color-dim {
  color: #bdbdbd;
}

.bg-color-dim1 {
  background: linear-gradient(135deg, #E0F2FE 4.53%, rgba(224, 242, 254, 0.33) 84.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-color-dim2 {
  color: #f2f2f299;
}

.bg-line-y {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.bg-line-x {
  background: linear-gradient(
    90deg, 
    rgba(255, 255, 255, 0.00) 0%, 
    rgba(255, 255, 255, 0.08) 30%, 
    rgba(255, 255, 255, 0.1) 50%, 
    rgba(255, 255, 255, 0.08) 70%, 
    rgba(255, 255, 255, 0.00) 100%);
}

.thumbnail {
  aspect-ratio: 4/3;
  width: -webkit-fill-available;
  width: -moz-available;;
  height: auto;
}

.single_hero_round {
  max-height: 100%;
}

.img-wrapper {
  position: relative;
  top: 0px;
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper * {
  border-radius: 8px;
}

.img-wrapper img {
  border-radius: 6px;
}

.dot {
  /* Vector */

  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #06d69eb9;
}

.dot:after {
    content:"";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #06d69eb9;
    display:block;
    animation: pulse 2s ease 0s infinite;
}

.dot:before {
    content:"";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #06d69eb9;
    display:block;
    animation: pulse2 2s ease 0s infinite;
}

@keyframes pulse {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  80% {
      opacity: 0;
      transform: scale(2.5);
  }
  100% {
      opacity: 0;
      transform: scale(3);
  }
}

@keyframes pulse2 {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  30% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(2.5);
  }
}

.shadow_inner {
  box-shadow: inset 0 3px 3px hsla(0, 0%, 0%, 0.1);
}

.shadow_drop {
  box-shadow: 0 -1px 0px hsla(224, 83%, 74%, 0.754);
}
.shadow_dropdown {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.article:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10%;
  width: 120%;
  height: 120%;
  background: #ffffff05;
  z-index: 0;
  border-radius: 20px;
  transform: translateX(-50%);
}

.btn-style {
  outline: 1px solid rgba(255, 255, 255, 0.03);
  background: linear-gradient(180deg, #0D1C29 0%, #01111E 100%);
}

/* shower */

.meteor-1 {
  position: absolute;
  top: 242px;
  right: -150px;
  width: 300px;
  height: 1px;
  transform: rotate(-90deg);
  background-image: linear-gradient(to right, #0769aa, rgba(255, 255, 255, 0));
  animation: meteor 7.3s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -600px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 400px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}