<div class="py-40 w-full flex flex-col items-center px-20 gradient-salla">
  <section class="prose dark:prose-invert max-w-7xl">
    <ul class="p-0">
      <li>
        Salla Apps give more capabilities for developers to design, develop, build, ship, and connect their apps with
        the Salla E-commerce portal.
        <img class="" src="/images/dashboard-client1.jpg">
        <img class="" src="/images/dashboard-client2.jpg">
        <img class="" src="/images/dashboard-client4.jpg">
        <img class="" src="/images/dashboard-client3.jpg">
      </li>
    </ul>
  </section>
</div>
