<div>
  <section class="prose dark:prose-invert px-15 max-w-7xl">
    <ul class="p-0">
      <li>
        IT help desk software for IT teams to deliver a smooth customer service.
        <img class="" src="/images/home-calender.jpg">
        <img class="" src="/images/home-announcements.jpg">
        <img class="" src="/images/pending-requests-conversation.jpg">
        <img class="" src="/images/pending-requests.jpg">
        <img class="" src="/images/pending-requests-history.jpg">
      </li>
    </ul>
  </section>
</div>
